<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>петербургское метро</title>
</head>
<body>
    <h1>ПЕТЕРБУРГСКОЕ МЕТРО</h1>
    <p>Достоинства петербургского метро:</p>
    <ul>
        <li>Достоинство 1 <button>Подробнее</button></li>
        <li>Достоинство 2 <button>Подробнее</button></li>
        <li>Достоинство 3 <button>Подробнее</button></li>
    </ul>
    <button><a href="http://127.0.0.1:8000" style="text-decoration: none; color: black">На главную</a></button>
</body>
</html>